:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.library-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shelf {
    width: 100vw;
    height: 500px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}

.add {
    width: 200px;
    display: flex;
    border: 1px solid blue;
    border-radius: 0.25em;
    padding: 0.5em;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
}